<div class="add-info">
  <h4>Añadir Información del Hotel</h4>
  <form (ngSubmit)="onSubmit()" #addInfoForm="ngForm">
    <div>
      <label for="description">Descripción:</label>
      <textarea id="description" [(ngModel)]="newInfo.description" name="description" required></textarea>
    </div>
    <div>
      <label for="services">Servicios:</label>
      <input type="text" id="services" [(ngModel)]="newService" name="services" (keydown.enter)="addService()" placeholder="Añadir servicio y presionar Enter" />
      <ul>
        <li *ngFor="let service of newInfo.services">{{ service }} <button type="button" (click)="removeService(service)">Eliminar</button></li>
      </ul>
    </div>
    <button type="submit">Guardar Información</button>
  </form>
</div>

